<!DOCTYPE html>
<html lang="en">
<%- include("../partial/head")%>
<body>
    <%- include("../partial/header")%>
<main class ="product">
    <form action="/createProduct" method="post" enctype="multipart/form-data">
        <section>
            <article>
                <div>
                    <label for="nombreProducto">Nombre del producto:</label>
                    <input type="text" name="name_product" id="nombreProducto">
                </div>
                <div>
                    <label for="marca">Marca del producto:</label>
                    <input type="text" name="marca" id="marca">
                </div>
                <div>
                    <label for="descripcion">Descripción sobre el producto:</label>
                    <input type="text" name="descripcion" id="descripcion">
                </div>
            </article>

            <article>
                <label for="imagenProducto">Seleccione una imagen del producto:</label>
                <input type="file" name="imagenProducto" id="imagenProducto">
            </article>

            <article>
                <div>
                    <label for="precio">Precio del producto:</label>
                    <input type="text" name="precio" id="precio">
                </div>
                <div>
                    <label for="descuento">descuento</label>
                    <input type="text" name="descuento" id="descuento">
                </div>
            </article>

            <article class="check">
                <div>
                    <h3>Categoria</h3>
                    <div>
                        <label for="alimento">Alimento</label>
                        <input type="checkbox" name="articulo" id="alimento">
                    </div>
                        <div>
                            <label for="snack">snack</label>
                            <input type="checkbox" name="articulo" id="snack">
                        </div>
                </div>

                <div>
                    <h3>seleccione la mascota</h3>
                    <div>
                        <label for="perro">Perro</label>
                        <input type="checkbox" name="mascota" id="perro">
                    </div>
                    <div>
                        <label for="gato">Gato</label>
                        <input type="checkbox" name="mascota" id="gato">
                    </div>
                </div>
            </article>

            <div class="button">
                <button type="submit">Crear</button>
                <button type="reset">Borrar</button>
            </div>
            </section>
        </form>
    </main>
    <%- include("../partial/footer")%>
</body>
</html>