<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles_home.css">
    <title>Pet House</title>
</head>
<body>
    <header>
        <nav>
            <div class="barra">
                <div class="icono">
                    <i class="fas fa-bars"></i>
                </div>
                    <img class="logo" src="/img/logo.png">
                <div class="icono">
                    <i class="fas fa-cart-plus"></i>
                </div>
            </div>
            <div class="buscador">
                <input type="text" placeholder="producto a buscar">
                <button><i class="fas fa-search"></i></button>
            </div>
        </nav>
    </header>
    <main>
        <h3>Ofertas</h3>
        <section>    
            <article>
                <img src="/img/img-alimento-mini.jpg" alt="">
                <div>
                    <p class="precio">$89.250</p>
                    <p class="descuento">15%</p>
                </div>
            </article>
            <article>
                <img src="/img/max-cat.jpg" alt="">
                <div>
                    <p class="precio">69.270</p>
                    <p class="descuento">10%</p>
                </div>
            </article>
            <article>
                <img src="/img/nutre-cat.jpg" alt="">
                <div>
                    <p class="precio">$69.255</p>
                    <p class="descuento">19%</p>
                </div>
            </article>
            <article>
                <img src="/img/pedigree-adulto.jpg" alt="">
                <div>
                    <p class="precio">$77.000</p>
                    <p class="descuento">21%</p>
                </div>
            </article>
        </section>
        <h3>Categorias</h3>
        <section class="categoria">
            <article>
                <img src="/img/categoria_alimento-min.png">
                <p>Alimento</p>
            </article>
            <article>
                <img src="/img/categoria_snacks-min.png">
                <p>Snacks</p>
            </article>
        </section>
    </main>
    <footer>
        <img class="logo" src="/img/logo.png">
        <div>
            <p>Nuestras redes</p>
            <div class="icono">
                <i class="fas fa-instagram"></i>
                <i class="fas fa-facebook"></i>
                <i class="fas fa-youtube"></i>
                <i class="fas fa-twitter"></i>
            </div>
        </div>

    </footer>
    
</body>
</html>