<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/29d377923f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Pet House</title>
</head>
<body>
    <header>
        <section>
            <div class="barra">
                <div class="boton">
                    <button><i class="fas fa-bars"></i></button>                  
                </div>
                <picture class="logo">
                    <img src="/img/logo.png">
                </picture>
                <div class="boton">
                    <a href="/productCart"><button><i class="fas fa-cart-plus"></i></button></a>  
                </div>
            </div>
            <div class="buscador">
                <input type="text" placeholder="producto a buscar">
                <button><i class="fas fa-search"></i></button>
            </div>
        </section>
        <nav>
            <ul>
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta<i class="far fa-address-card"></i></a></li>
                <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/productCart">Mis compras<i class="fas fa-cart-plus"></i></a></li>
            </ul>
        </nav>
        <section class="animal">
            <h3>Animales</h3>
            <div>
                <button>perro <i class="fa-solid fa-dog"></i></button>
                <button>gato <i class="fa-solid fa-cat"></i></button>
            </div>
        </section>
    </header>
    <main class="home">
        <div class="iWhatsapp">
            <i class="fa fa-whatsapp  fa-2x"></i>
        </div>
        <section>  
            <h3>Ofertas</h3>
            <div class="ofertas">
                <div class="flecha">
                    <i class="fa-solid fa-chevron-left"></i>
                </div>
                <article>
                    <img src="/img/pedigree-adulto.png" alt="">
                    <div>
                        <p class="precio">$89.250</p>
                        <p class="descuento">15%</p>
                    </div>
                </article>
                <article>
                    <a href="/productDetail"><img src="/img/proplan-esterilizado.png" alt=""></a>
                    <div>
                        <p class="precio">69.270</p>
                        <p class="descuento">10%</p>
                    </div>
                </article>
                <article>
                    <img src="/img/proplan-perro-adulto.png" alt="">
                    <div>
                        <p class="precio">$69.255</p>
                        <p class="descuento">19%</p>
                    </div>
                </article>
                <div class="flecha">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
        </section>
        <section>
            <h3>Categorias</h3>
            <div class="categoria">
                <div class="flecha">
                    <i class="fa-solid fa-chevron-left"></i>
                </div>
                <article>
                    <img src="/img/categoria_alimento-min.png">
                    <p>Alimento</p>
                </article>
                <article>
                    <img src="/img/categoria_snacks-min.png">
                    <p>Snacks</p>
                </article>
                <div class="flecha">
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <img class="logo" src="/img/logo.png">
        <article>
            <p>Nuestras redes</p>
            <div class="icono">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
        </article>
        <article class="btns">
            <button>Sobre nosotros <i class="fa-solid fa-chevron-right"></i></button>
            <button>Preguntas frecuentes <i class="fa-solid fa-chevron-right"></i></button>
            <button>Informacion de contacto <i class="fa-solid fa-chevron-right"></i></button>
        </article>
        <article>
            <p>Todos los derechos reservados - ® Pet House 2022</p>
        </article>

    </footer>
    
</body>
</html>