<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/29d377923f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles_forms.css">
    <title>Login</title>

</head>
<body>    
    <header>
        <nav>
            <div class="barra">                
                <a href="/"><button ><img class="logo" src="/img/logo.png"></button></a>                
                                    
            </div>          
        </nav>
    </header>

    <main>
        <h3>Iniciar sesión</h3>

        <section class="formulario">            
        <div>
            <form action="/" method="post">
            <!-- Username -->
            <article>
        <div>
                <label for="usuario">Correo electrónico: </label>
                <input class="inputemail" type="email" id="usuario" placeholder="ejemplo@email.com" name="email"> 
        </div>
            </article>
            <!-- Password -->
            <article>
            <div>
                <label for="contrasenia">Contraseña: </label>
                <input type="password" id="contrasenia" placeholder="Contraseña" name="contrasenia">
            </div>
            </article>
            <article>
                <div>
                    <button><label for="botonEnviar"><a href="/">Iniciar sesión</a></label></button>
                </div>
            </article>
            <article>
                <div class=" politicas">
                    <label >
                        <input type="checkbox" >
                        <option>He leído y acepto las políticas de privacidad</option>
                    </label>
                </div>
                </article>           
            
        </section>    
        </form>       
    </div>
    </main>
    <footer> 
        
        <div>
            <button> <i> ¿Olvidaste tu contraseña?</i></button>
        </div>
        <div>
            <i> ¿Es tu primera vez? </i>
        </div>
        <div>
            <a href="/register"><button > Registrate</button></a>
        </div>
        
    </footer>

    
</body>
</html>