<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/29d377923f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles_productDetail.css">
    <title>Productos-Mascotas</title>
</head>
<body>
    <header>
        <section>
                <div class="barra">
                    <div class="boton">
                        <button><i class="fas fa-bars"></i></button>                  
                    </div>
                    <picture class="logo">
                        <img src="/img/logo.png">
                    </picture>
                    <div class="boton">
                        <a href="/productCart"><button><i class="fas fa-cart-plus"></i></button></a>  
                    </div>
                </div>
                <div class="buscador">
                    <input type="text" placeholder="producto a buscar">
                    <button><i class="fas fa-search"></i></button>
                </div>
            </section>
            <nav>
                <ul>
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
                <ul>
                    <li><a href="/register">Creá tu cuenta<i class="far fa-address-card"></i></a></li>
                    <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="/productCart">Mis compras<i class="fas fa-cart-plus"></i></a></li>
                </ul>
            </nav>
            <section class="animal">
                <h3>Animales</h3>
                <div>
                    <button>perro <i class="fa-solid fa-dog"></i></button>
                    <button>gato <i class="fa-solid fa-cat"></i></button>
                </div>
            </section>
    </header>
    <main class="mainProducto">
        <div class="iWhatsapp">
            <i class="fa fa-whatsapp  fa-2x"></i>
        </div>
        <h2>Tu producto selecionado:</h2>
        <section class="sectionProducto">
            <h3>Purina Pro Plan-Gatos esterilizados-Urinary-1.5 Kg</h3>
            <div>
                <img class="imagenProducto" src="/img/proplan-esterilizado.png">
            </div>
            <div class="infoProducto">
                <p>$130.000</p>
                <p>
                    <select class="cuadroCant" name="cantidad" id="cantidad">
                        <option value="uno">1</option>
                        <option value="dos">2</option>
                        <option value="tres">3</option>
                        <option value="cuatro">4</option>
                        <option value="cinco">5</option>
                        <option value="seis">6</option>
                        <option value="siete">7</option>
                        <option value="ocho">8</option>
                    </select>

                </p>
                
                  
            </div>
            <div class="infoProducto">
                <p>Llega el viernes 17 de Enero</p>
                <p class="letraNaranja">GRATIS</p>   
            </div>
            <div class="infoProducto">
                <p>Calle 27 # 81-23</p>
                <p><a class="letraNaranja" href="#">Cambiar</a></p>
            </div>
            <div class="infoProducto">
                <p>Calificacion del producto</p>
                <p>4.7/5⭐</p> 
            </div>
            <div class="infoProducto">
                <p>Calificacion del vendedor</p>
                <p>4.7/5⭐</p> 
            </div>
            <div class="botonesP">
                <button class="buttonP" type="submit">Comprar</button>
                <button class="buttonP2" type="submit">Agregar al carrito</button>
            </div>
            <div>
                <h3>Descripción</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda repellendus vel incidunt similique veniam repellat nam, tenetur mollitia quasi voluptas nostrum eaque minima animi tempora rerum amet corrupti. Minima, dolorum!</p>

            </div>
            <div>
                <h3>Métodos de pago</h3>
                <p>Tarjeta de crédito y débito <i class="fa fa-credit-card"></i></p>
                <p>Ver opciones disponibles</p>
                <p>Ver tarjetas agregadas</p>
                <p>Agregar tarjetas de crédito o débito</p>
                <p>Efectivo <i class="fa fa-money"></i></p>
                <p>Ver opciones disponibles</p>
                
            </div>
        </section>

    </main>
    <footer>
        <img class="logo" src="/img/logo.png">
        <article>
            <p>Nuestras redes</p>
            <div class="icono">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
        </article>
        <article class="btns">
            <button>Sobre nosotros <i class="fa-solid fa-chevron-right"></i></button>
            <button>Preguntas frecuentes <i class="fa-solid fa-chevron-right"></i></button>
            <button>Informacion de contacto <i class="fa-solid fa-chevron-right"></i></button>
        </article>
        <article>
            <p>Todos los derechos reservados - ® Pet House 2022</p>
        </article>
        
    </footer>
    
</body>
</html>