<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/29d377923f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles_forms.css">
    <title>Register</title>
    
</head>
<body>
    <header>
        <nav>
            <div class="barra">                
                <a href="/"><button ><img class="logo" src="/img/logo.png"></button></a>                
                                    
            </div>          
        </nav>
    </header>
    <main>
        <h3>Regístrate</h3>

        <section class="formulario">
    <div>
            <form action="/register" method="post">
            
            <!-- Username -->
            <article>
            <div>
                <label for="nombre">Nombre y apellido: </label>
                <input class="inputNombre" type="Nombre" id="nombre" placeholder="Nombre y apellido" name="nombre"> 
            </div>
            </article>

            <!-- Fecha de nacimiento-->
            <article>
                <div>
                    <label for="nacimiento">Fecha de nacimiento: </label>
                    <input type="date" id="FechaNacimiento" placeholder="Fecha de nacimiento" name="fecha">
                </div>
            </article>

            <!-- Dirección -->
            <article>
                <div>
                    <label for="Domicilio">Domicilio</label>
                    <input type="domicilio" id="domicilio" placeholder="Domicilio" name="domicilio">
                </div>
                </article>

             <!-- Contraseña -->
             <article>
             <div>
                <label for="contrasenia">Contraseña</label>
                <input type="password" id="contrasenia" placeholder="Contraseña" name="contrasenia">                
            </div>
            </article>
            <article>
            <div>
                <label for="contrasenia">Confirmar contraseña</label>
                <input type="password" id="contrasenia" placeholder="Contraseña" name="contrasenia">                
            </div>
            </article>  
            
            <article>
                <div class=" politicas">
                    <label >
                        <input type="checkbox" >
                        <option>He leído y acepto las políticas de privacidad</option>
                    </label>
                </div>
            </article>

           <!-- Botón de enviar -->
           <article>
            <div>
                <button><label for="botonEnviar"><a href="/">Enviar</a></label></button>
            </div>
        </article>
          
            
        </form>       
    </div>

    </main>
    <footer>
        <a href="/"><button ><img class="logo" src="/img/logo.png"></button></a>
        <article>
            <p>Nuestras redes</p>
            <div class="icono">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
        </article>

    </footer>
</body>
</html>