h3{
    text-align: center;
}

header{
    background-color: #FFB547;
    display: flex;
    justify-content: center;
	align-items: center;
}

.logo {    
    width: 20vw;
    margin: none;
    background-color: none;
    padding: none;
    border: none;
    align-items: center;
}
header button{
    color: none;
    border: none;
    background-color:  #FFB547;
    align-items: center;
}

main{	
	flex-wrap: wrap;
	background: #ffffff;
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
}

.formulario section{
    display: flex;
    align-items: center;
    justify-content: space-around;
}



div article{
    padding: 0 0 4% 0;
    margin: 5%;
    text-align: center;
}

label{
    padding:5%;
    text-align: center;
}

footer{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
	background-color: #1bbcb6;
	

}

footer div  {
    padding: 3%;
    margin: 1%;
    text-align: center;
        
}
footer button{
    color: none;
    border: none;
    background-color:  #1bbcb6;
    align-items: center;
}
