/* header */

header{
    background-color: #FFB547;
}

header section .barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header section .barra .boton button{
    background-color: #FFB547;
    border: none;
}
header section .barra .logo, .logo{
    width: 20%;
    margin-top: 10px;
}
header section .barra .logo img{
    width: 100%;
    color: #1bbcb6;
    margin-top: 10px;
}
header section .buscador{
    display: flex;
    justify-content: center;
}
header section .buscador input{
    background-color: white;
    border: none;
    border-radius: 5px;
    position: absolute;
}
header section .buscador button{
    position: relative;
    left: 70px;
    border: none;
    background-color: white;
}
header nav{
    display: none;
}
header .animal h3{
    text-align: center;
}
header .animal div{
    display: flex;
    justify-content: center;
}
header .animal div button{
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    margin-bottom: 6px;
}
header .animal div button i{
    color: #1bbcb6;
}

/* footer */
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1bbcb6;
}
footer .btns{
    display: flex;
    flex-direction: column;
}
footer .btns button{
    border-radius: 6px;
    margin-top: 5px; /*Angela:modifique margen por estetica */
}
@media (min-width: 500px){
    header section .barra{
        justify-content: flex-start;
    }
    header section .barra .boton button{
        display: none;
        position: absolute;
    }
    header section .buscador{
        position: relative;
        top: -70px;
    }
    header nav{
        display: flex;
        justify-content: space-between;
    }
    header nav ul{
        display: flex;
        list-style: none;
    }
    header nav ul li{
        padding: 5px;
    }
    header nav ul li a{
        text-decoration: none;
        color: black;   
    }
    header nav ul li a i{
        margin-left: 3px;
    }
}


/*  estilos ProductDetail */

.mainProducto{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 100%;
    background-color: #f2f0ee;
    
}

.iWhatsapp {
    display: flex;
    position: fixed;
    right: 21px;
    bottom: 22px;
    border-radius: 100%;
    background-color: #1bbcb6;
    opacity: 0.6;
    color: white;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.iWhatsapp:hover {
    background-color: #FFB547;
    color:black;
    opacity: 0,6;

}
.sectionProducto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f2f0ee;
    padding: 20px;
}


.imagenProducto {
    width: 100%;
    border-radius: 10px;
}

.infoProducto {
    display:flex;
    justify-content: space-between ;

}
.cuadroCant {
    width: 30px;
    height: 27px;
    
}

.letraNaranja {
    color:#FFB547;
    font-weight: bold;
}

.botonesP {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttonP {
    background-color: rgb(247, 128, 9);
    width: 160px;
    color: #ffff;
    font-weight: bold ;
    border-radius: 5px;
    box-shadow: #1bbcb6;
    margin-bottom: 5px;
}

.buttonP2 {
    background-color: #ffff;
    width: 160px;
    color: rgb(247, 128, 9);
    font-weight: bold ;
    border-radius: 5px;
    box-shadow: #1bbcb6;
}




