
body{
    font-family: 'Cinzel', serif;
    margin: 0;
    font-size: 13px;
}

/*header*/
header{
    background-image:  linear-gradient(rgba(39, 221, 245, 0.8), rgb(236, 166, 17)), url("/img/huellitas.png");
    image-orientation: from-image;
    background-color: #FFB547;
    position: relative;
}
header section .barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header section .barra .boton button{
    background: none;
    border: none;
}
header section .barra .logo, .logo{
    width: 20%;
}
header section .barra .logo img{
    width: 60%;
    color: #1bbcb6;
}
header section .buscador{
    display: flex;
    justify-content: center;
}
header section .buscador input{
    background-color: white;
    border: none;
    border-radius: 5px;
    width: 40%;
    position: absolute;
}
header section .buscador button{
    position: relative;
    left: 16vw;
    border: none;
    background:none;
}
header nav{
    display: none;
}
header .animal h3{
    text-align: center;
}
header .animal div{
    display: flex;
    justify-content: center;
}
header .animal div button{
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    margin-bottom: 6px;
}
header .animal div button i{
    color: #1bbcb6;
}

/* estilos del main del home */
.home section h3{
    text-align: center;
}
/* ofertas home */
.home section .ofertas{
    display: flex;
    justify-content: space-between;
}
.home section .ofertas article{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home section .ofertas article img{
    width: 100%;
}
.home section .flecha{
    display: flex;
    align-items: center;
}

/* categotias home */

.home section .categoria{
    display: flex;
    justify-content: space-between;
}


/* product detail */

.mainProducto{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 100%;
    background-color: #f2f0ee;
    
}

.iWhatsapp {
    display: flex;
    position: fixed;
    right: 21px;
    bottom: 22px;
    border-radius: 100%;
    background-color: #1bbcb6;
    opacity: 0.6;
    color: white;
    width: 45px;
    height: 45px;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.iWhatsapp:hover {
    background-color: #FFB547;
    color:black;
    opacity: 0,6;

}
.mainProducto .sectionProducto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #f2f0ee;
    padding: 20px;
}


.mainProducto .imagenProducto {
    width: 100%;
    border-radius: 10px;
}

.mainProducto .infoProducto {
    display:flex;
    justify-content: space-between ;

}
.mainProducto .cuadroCant {
    width: 30px;
    height: 27px;
    
}

.mainProducto .letraNaranja {
    color:#FFB547;
    font-weight: bold;
}

.mainProducto .botonesP {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainProducto .buttonP {
    background-color: rgb(247, 128, 9);
    width: 160px;
    color: #ffff;
    font-weight: bold ;
    border-radius: 5px;
    box-shadow: #1bbcb6;
    margin-bottom: 5px;
}

.mainProducto .buttonP2 {
    background-color: #ffff;
    width: 160px;
    color: rgb(247, 128, 9);
    font-weight: bold ;
    border-radius: 5px;
    box-shadow: #1bbcb6;
}


/* footer */

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:  linear-gradient(rgba(39, 221, 245, 0.8), rgb(236, 166, 17)), url("/img/huellitas.png");
}
footer .logo{
    margin-top: 10px;
}
footer .btns{
    display: flex;
    flex-direction: column;
}
footer .btns button{
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}


/* Forms Login and Register */

/* Login page */

.loginContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    width: 65vw;
    height: auto;
    margin: auto;
    border-radius: 15px;
    padding: 32px 32px;
}

.loginTitle{
    font-size: 20px;
    font-weight: bolder;
    width: 100%;
    padding: 10px;
}

.formLogin{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.formLogin label{
    margin: 0 0 5px 5px;
    color: rgb(25, 25, 25);
    padding-top: 10px;
    font-weight: bold;
}

.formLogin button.send{
    align-self: center;
    margin-top: 30px;
    width: 38%;
    height: 34px;
    font-size: 16px;
    border: 3px solid #FFB547;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.5s;
    background-color: #FFB547;
    color: white;
    cursor: pointer;
}

.formLogin button:hover{
    background-color:#0022AA;
    border-color: #0022AA;
}

/* Register page */

.registerContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: white;
    width: 75vw;
    height: auto;
    margin: auto;
    border-radius: 15px;
    padding: 32px 32px;
}

.formRegister{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}

.registerTitle{
    padding-bottom: 15px;
}

.formRegister label{
    margin: 0 0 5px 5px;
    color: rgb(25, 25, 25);
    padding-top: 10px;
    font-weight: bold;
}

.registerInput{
    background-color: white;
    padding: 15px;
    border: 3px solid #ebebeb;
    border-radius: 6px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.formRegister button.send{
    align-self: center;
    margin-top: 30px;
    width: 38%;
    height: 34px;
    font-size: 16px;
    border: 3px solid #FFB547;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.5s;
    background-color: #FFB547;
    color: white;
    cursor: pointer;
}

.formRegister button.send:hover{
        background-color:#0022AA;
        border-color: #0022AA;
    }

    .formRegister button.delete:hover{
        background-color:#aa0000;
        border-color: #aa0000;
    }

.formRegister button.delete{
    align-self: center;
    margin-top: 30px;
    width: 38%;
    height: 34px;
    font-size: 16px;
    border: 3px solid #1bbcb6;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.5s;
    background-color: #1bbcb6;
    color: white;
    cursor: pointer;
}

.radioSelect{
    padding: 10px 10px 10px 10px;
    align-self: center;
}

.checkboxSelect{
    padding: 7px 7px 7px 7px;
    align-self: center;
}

/* cart */

.cart *{
	box-sizing: border-box;
}

.cart {
	margin-bottom: 10vw;
	margin-top: 2vw;
	padding-bottom: 8vw;
	padding-top: 2vw;
	flex-wrap: wrap;
	background: #ffffff;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

.cart .containerCart{
	width: 70vw;
	height: auto;
	padding-bottom: 15px;
	background-color: #ffffff;
    border-radius: 20px;
	border: 1px solid #38220d;
    box-shadow: 0px 10px 20px #1687d933;
}


.cart .header{
    display: flex;
}


.cart .title{
	font-size: 22px;
    width: 50%;
    padding-left: 2vw;
	font-family: 'Open Sans';
	font-weight: 800;
	color: #000000;
}

.cart .action{
	font-size: 14px;
	font-family: 'Open Sans';
    padding-top: 2vw;
    padding-right: 2vw;
    width: 50%;
	font-weight: 600;
	color: #3CBACD;
	cursor: pointer;
	text-align: right;
}



.cart .item{
	align-items: center;
	justify-content: space-around;
	cursor: pointer;
	display: flex;
	gap: 18px;
	width: 100%;
	margin-bottom: 5vw;
}

.cart .imgBox{
	border: 0px solid black;
	height: 100%;
	width: 100%;
	width: 15%;
	text-align: center;
}

.cart img{
    max-width: 100%;
    height: auto;
    width: auto;
}


.cart .aboutItem{
	height: 50%;
	width:25%;
	display: flex;
	flex-direction: column;
}

.cart .itemTitle{
	font-weight: bold;
	line-height: normal;
	margin-bottom: 1px;
	font-size: 20px;
	font-family: 'Open Sans';
	color: #38220d;
}

.cart .itemSubtitle{
	margin-top: 1vw;
	margin-bottom: 3vw;
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: gray;
}

.cart .itemRating{
	color: #38220d;
	font-family: 'Open Sans';
	font-size: 14px;
	font-weight: bold;
}


.cart .itemAmount{
	font-family: 'Open Sans';
	font-size: 12px;
}


.cart .price{
	display: inline-block;
	height: 100%;
	width: auto;
	text-align: right;
	justify-content: flex-end;
}

.cart .amount{
	padding-top: 0px;
	font-size: 26px;
	font-family: 'Open Sans';
	font-weight: 800;
	color: #38220d;
}

.cart .amountDiscount{
	font-family: 'Open Sans';
	font-size: 16px;
	color: grey;
	text-decoration: line-through;
}
.cart .save{
	padding-top: 5px;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #3CBACD;
	cursor: pointer;
}
.cart .remove{
	padding-top: 5px;
	font-size: 14px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #e77c18;
	cursor: pointer;
}






.cart .checkout{
	float: right;
	margin-right: 5%;
	width: 60vw;
	border-top: 1px solid #38220d;
}
.cart .total{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.cart .Subtotal{
	font-size: 22px;
	font-family: 'Open Sans';
	font-weight: 700;
	color: #38220d;
}
.cart .items{
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 500;
	color: #909090;
	line-height: 10px;
}
.cart .total-amount{
	font-size: 36px;
	font-family: 'Open Sans';
	font-weight: 900;
	color: #202020;
}
.cart .button{
	margin-top: 10px;
	width: 100%;
	height: 40px;
	border: none;
	background: #3CBACD;
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: bold;
	color: #202020;
}

.cart .button:hover{
	transition-duration: 0.75ms;
	transition: background-color 0.5s;
	background-color: #267f8c;
	border-color: #267f8c;
}

/* estilos createProduct - editProduct */

.product {
    display: flex;
    justify-content: center;
    background-color: #ffff;
}
.product form{
    width: 62%;
}
.product form section{
    display: flex;
    flex-direction: column;
    margin-left: 16%;
}
.product form section article{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.product form section article label{
    font-size: 13px;
}
.product form section article input{
    border:solid 1px black;
    border-radius: 5px;
    font-family: 'Cinzel', serif;
    
}
.product form section .button{
    display: flex;

    justify-content: space-between
}
.product form section .button button{
    font-family: 'Cinzel', serif;
    border: none;
    margin-bottom: 15px;
}

.product form section .button button:hover{
    background-color: rgba(39, 58, 245, 0.8), rgba(1, 232, 147, 1);
}

.product .uploadImg input{
    border: none;
} 
.product .uploadImg .img{
    width: 40%;
}
.product .img img{
    width: 50%;
}

.listado section article {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.listado section article picture {
    width: 40%;
}

.listado section article picture img{
    width: 100%;
}


@media (min-width: 500px){
    body{
        font-size: 15px;
    }

    .product form section article div {
        display: flex;
        justify-content: space-between;
        margin-bottom: 6px;
        align-content: center;
        flex-direction: row;
        align-items: stretch;
    }
    .product form section .check div{
        display: flex;
        flex-direction: column;
    }
    .product form section .check div div{
        display: flex;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
    }

    header section .barra .logo{
        margin-left: 15px;
        margin-top: 15px;
    }
    header section .barra{
        justify-content: flex-start;
    }
    header section .barra .boton button{
        display: none;
    }
    header section .buscador{
        position: absolute;
        top: 7.5vh;
        right: 41vw;
        width: 10%;
    }
    header section .buscador input{
        width: 41vw;
        height: 25px;
    }
    header section .buscador button {
        padding: 5px;
        left: 19vw;
    }
    header nav{
        display: flex;
        justify-content: space-between;
    }
    header nav ul{
        display: flex;
        list-style: none;
    }
    header nav ul li{
        padding: 5px;
    }
    header nav ul li a{
        text-decoration: none;
        color: black;   
    }
    header nav ul li a i{
        margin-left: 3px;
    }
    header .animal{
        display: none;
    }
    .cart .containerCart{
		width: 100vw;
		height: auto;
	}
    /* pruduct detail main*/
    .mainProducto picture {
        text-align: center;
    }
    .mainProducto .imagenProducto{
        width: 300px;
    }
    .registerContainer, .loginContainer{
        width: 99vw
    }

    .buttonForm{
        height: 7vw;
        width: 9%;
    }
}
@media (min-width: 800px){
    body{
        font-size: 20px;
    }
    footer .logo{
        width: 10%;
    }
    footer article p{
        font-size: 24px;
    }
    footer article .icono i{
        font-size: 25px;
        margin-bottom: 20px;
    }
    footer .btns{
        flex-direction: row;
    }
    footer .btns button {
        border-radius: 6px;
        display: flex;
        justify-content: space-between;
        margin-left: 10px;
        height: 30px;
        align-items: center;
        font-size: 21px;
        background-color: orange;
    }

    .product form section{
        margin: 0;
    }
    .product form section .check div div{
        font-size: 22px;
    }
    .product form section article label {
        font-size: 18px;
    }
}





/* 404 */

.h1404{
    font-size: 80px;
    font-weight: 800;
    text-align: center;
    font-family: 'Roboto'
}

.h2404{
    font-size:25px;
    text-align:center;
    font-family: 'Roboto', sans-serif;
    margin-top:-40px;
}
.p404{
    text-align:center;
    font-family: 'Roboto', sans-serif;
    font-size:12px;
}
.container404{
    width:300px;
    margin: 0 auto;
    margin-top:15%;
}