.barra{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.boton{
    width: 10%;
}
.boton button{
    border:none;
    background-color: none;
}
.logo{
    width: 18%;
}

