h3{
    text-align: center;
}


.resgiter header{
    background-color: #FFB547;
    display: flex;
    justify-content: center;
	align-items: center;
    padding: 3%;
}

.register .logo {    
    width: 20vw;
    margin: none;
    background-color: none;
    padding: none;
    border: none;
    align-items: center;
}
.register header button{
    color: none;
    border: none;
    background-color:  #FFB547;
    align-items: center;
}

.register {	
	flex-wrap: wrap;
	background: #ffffff;
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
    padding: 3%
}

.register .formulario section{
    display: flex;
    align-items: center;
    justify-content: space-around;
}



.register div article{
    padding: 0 0 4% 0;
    margin: 5%;
    text-align: center;
}

