<footer>
    <img class="logo" src="/img/logo.png">
    <article>
        <p>Nuestras redes</p>
        <div class="icono">
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-twitter"></i>
        </div>
    </article>
    <article class="btns">
        <button>Sobre nosotros <i class="fa-solid fa-chevron-right"></i></button>
        <button>Preguntas frecuentes <i class="fa-solid fa-chevron-right"></i></button>
        <button>Informacion de contacto <i class="fa-solid fa-chevron-right"></i></button>
    </article>
    <article>
        <p>Todos los derechos reservados - ® Pet House 2022</p>
    </article>

</footer>