<header>
    <section>
        <div class="barra">
            <div class="boton" id="burgerMenu">
                <button><i class="fas fa-bars"></i></button> 
                <div id="menu">

                </div>                 
            </div>
            <picture class="logo">
                <a href="/"><img src="/img/logo.png"></a>
            </picture>
            <div class="boton">
                <a href="/productCart"><button><i class="fas fa-cart-plus"></i></button></a>  
            </div>
        </div>
        <div class="buscador">
            <input type="text" placeholder="producto a buscar">
            <button><i class="fas fa-search"></i></button>
        </div>
    </section>
    <nav>
        <ul>
            <li><a href="/productCart">Carrito<i class="fas fa-cart-plus"></i></a></li>
            <li><a href="">Ofertas</a></li>
            <li><i class="fa-solid fa-dog"></i><a href=""> </i>Perros</a></li>
            <li><i class="fa-solid fa-cat"></i><a href=""> </i>Gatos</a></li>
        </ul>
        <ul>
            <% if (!locals.session) { %>
                <li><a href="/register">Registrate<i class="far fa-address-card"></i></a></li>
                <li><a href="/login">Ingresar<i class="fas fa-sign-in-alt"></i></a></li>
            <% } %>
            <% if (locals.session) { %>
             <li class="user"><a class="nombreUser" href="/profile"> <%= session.user %> </a> <img src= "<%= session.img %>"></li>
            <% } %>
        </ul>
    </nav>
    <section class="animal">
        <h3>Animales</h3>
        <div>
            <button>Perros <i class="fa-solid fa-dog"></i></button>
            <button>Gatos <i class="fa-solid fa-cat"></i></button>
        </div>
    </section>
    <script src="/js/header.js"></script>
</header> 