<!DOCTYPE html>
<html lang="en">
<%- include('../partial/head')%>
<body>
    <%- include('../partial/header')%>
    <main class="home">
        <div class="iWhatsapp">
            <i class="fa fa-whatsapp  fa-2x"></i>
        </div>
        <section>  
            <h3>Ofertas</h3>
            <div class="ofertas">
                <article id="carts">

                </article>
            </div>
        </section>
        <section>
            <h3>Categorias</h3>
            <div class="categoria">
               <article class="categorias">
                
               </article>
            </div>
        </section>
    </main>
    <script src="/js/index.js"></script>
    <script src="/js/categoria.js"></script>
    <%- include('../partial/footer')%>
</body>
</html>