<!doctype html>
<html>
<head>
    <%- include('../partial/head')%>
</head>
<body>    
    <header>
        <%- include('../partial/header')%>
    </header>

    <main>
        <div class="loginContainer">
            <div class="loginTitle">¡Bienvenido!</div>        
            <form class="formLogin" action="/login" method="POST">
                <!-- <label for="email"> Email </label> -->
                <input class="registerInput" type="text" id="userLogin" name="email" placeholder="Email" required>
            
                <!-- <label for="passwordLogin"> Contraseña </label> -->
                <input class="registerInput" type="password" id="passwordLogin" name="passwordLogin" placeholder="Ingresa tu contraseña" required>

             <button class="send" type="submit" id="buttonLogin" name="buttonLogin">Ingresar</button>
            </form>    
        </div>
    </main>
    <%- include('../partial/footer')%>
    
</body>
</html>