<!doctype html>
<html>
<head>
    <%- include('../partial/head')%>
</head>
<body>    
    <header>
        <%- include('../partial/header')%>
    </header>

    <main class="forms">
        <h3>Iniciar sesión</h3>

        <section class="formulario">            
        <div>
            <form action="/" method="post">
            <!-- Username -->
            <article>
        <div>
                <label for="usuario">Correo electrónico: </label>
                <input class="inputemail" type="email" id="usuario" placeholder="ejemplo@email.com" name="email"> 
        </div>
            </article>
            <!-- Password -->
            <article>
            <div>
                <label for="contrasenia">Contraseña: </label>
                <input type="password" id="contrasenia" placeholder="Contraseña" name="contrasenia">
            </div>
            </article>
            <article>
                <div>
                    <button><label for="botonEnviar"><a href="/">Iniciar sesión</a></label></button>
                </div>
            </article>
            <article>
                <div class=" politicas">
                    <label >
                        <input type="checkbox" >
                        <option>He leído y acepto las políticas de privacidad</option>
                    </label>
                </div>
                </article>           
            
        </section>    
        </form>  
        <div>
            <button> <i> ¿Olvidaste tu contraseña?</i></button>
        </div>
        <div>
            <i> ¿Es tu primera vez? </i>
        </div>
        <div>
            <a href="/register"><button > Registrate</button></a>
        </div>     
    </div>
    </main>
    <footer>
        <img class="logo" src="/img/logo.png">
        <article>
            <p>Nuestras redes</p>
            <div class="icono">
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-twitter"></i>
            </div>
        </article>
        <article class="btns">
            <button>Sobre nosotros <i class="fa-solid fa-chevron-right"></i></button>
            <button>Preguntas frecuentes <i class="fa-solid fa-chevron-right"></i></button>
            <button>Informacion de contacto <i class="fa-solid fa-chevron-right"></i></button>
        </article>
        <article>
            <p>Todos los derechos reservados - ® Pet House 2022</p>
        </article>

    </footer>

    
</body>
</html>